[submodule "course-mp-beginners-typescript-tutorial"]
	path = course-mp-beginners-typescript-tutorial
	url = https://github.com/spfave/course-mp-beginners-typescript-tutorial.git
[submodule "course-mp-zod-tutorial"]
	path = course-mp-zod-tutorial
	url = https://github.com/spfave/course-mp-zod-tutorial.git
[submodule "course-mp-type-transformations-workshop"]
	path = course-mp-type-transformations-workshop
	url = https://github.com/spfave/course-mp-type-transformations-workshop.git
[submodule "course-mp-react-with-typescript"]
	path = course-mp-react-with-typescript
	url = https://github.com/spfave/course-mp-react-with-typescript
[submodule "course-mp-ts-generics-workshop"]
	path = course-mp-ts-generics-workshop
	url = https://github.com/spfave/course-mp-ts-generics-workshop
